{include file="public/head" /}
<style>.am-popup{height: 350px}table{margin-top: 5px}</style>
</head>
<body>
{include file="public/top" /}
<div class="am-cf admin-main">
    {include file="public/nav" /}

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">专业班级管理</strong></div>

            </div>
            <div class="am-u-md-12">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <button type="button" class="am-btn am-btn-primary" id="add">添加</button>
                    </div>
                    <div class="am-u-sm-12 am-u-md-4">
                        <form method="post" action="/admin/Classes/index">
                            <div class="am-form-group">
                                <input type="text" name="keyword" value="{:input('request.keyword')}">
                                <button type="submit" class="am-btn am-btn-secondary am-btn-xs">搜索</button>
                                <a href="/admin/Classes/index" class="am-btn am-btn-danger am-btn-xs">重置</a>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="am-table am-table-bordered am-table-radius am-table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>专业班级</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="rows" id="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-success" onclick="edit({$vo.id})">编辑</button>
                                    <button type="button" class="am-btn am-btn-danger" onclick="del(this,{$vo.id})">删除</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <span>共{$rows->total()}条记录</span>
                <div class="pagination" style="float: right">{$page}</div>
            </div>
        </div>
    </div>
</div>
<!--添加用户模态框-->
<div class="am-popup" id="addModal">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">添加专业</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
            <form method="post" class="am-form" action="/admin/Classes/addPost">
                <label>班级</label>
                <input type="text" name="name">
                <div class="am-cf">
                    <a class="am-btn am-btn-primary am-btn-sm am-fl ajax-submit" href="javascript:;">提交</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!--编辑用户模态框-->
<div class="am-popup" id="editModal">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">编辑专业</h4>
            <span data-am-modal-close
                  class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
            <form method="post" class="am-form" action="/admin/Classes/editPost">
                <label>班级</label>
                <input type="text" name="name">
                <div class="am-cf">
                    <input type="hidden" name="id">
                    <a class="am-btn am-btn-primary am-btn-sm am-fl ajax-submit" href="javascript:;">提交</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- content end -->
</div>
<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<script src="__STATIC__/js/ajax_form.js"></script>
<script>
    $(function(){
        $("#add").on("click",function(){
            $('#addModal').modal();
        });
    });
    function edit(id) {
        if(id == ''){
            layer.msg('参数获取失败,请刷新重试', {time: 1500, icon: 5});
            return false;
        }
        $.post("{:url('admin/Classes/getDetail')}", {id: id}, function (res) {
            var detail = res.data;
            console.log(detail);
            var editForm = $("#editModal").find("form");//获取编辑表单
            //表单赋值
            editForm.find("input[name='name']").val(detail.name);
            editForm.find("input[name='id']").val(detail.id);
        });
        $('#editModal').modal();
    }
    function del(self,id) {
        layer.confirm('确认要删除吗?', function (index) {
            $.post("{:url('admin/Classes/delete')}", {id: id}, function (res) {
                if (res.code == 1) {
                    $(self).closest("tr").remove();//前端删除
                    layer.msg(res.msg, {time: 1500, icon: 6});
                } else {
                    layer.msg(res.msg, {time: 1500, icon: 5});
                }
            });
        });
    }

</script>
</body>
</html>
