<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="/user/Index/index"> 首页</a></li>
            <li><a href="/user/Signup/index"> 报名项目</a></li>
            <li><a href="/user/Signup/myRecord"> 我的报名</a></li>
            <li><a href="/user/User/info"> 个人信息</a></li>
            <li><a href="/user/Index/changePassword"> 修改密码</a></li>
        </ul>
    </div>
</div>