{include file="public/head" /}
</head>
<body>
{include file="public/top" /}
<div class="am-cf admin-main">
    {include file="public/nav" /}

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">修改密码</strong></div>
            </div>

            <div class="am-u-lg-6 am-u-md-8">
                <form method="post" class="am-form" action="/admin/Index/changePasswordPost">
                    <strong>*</strong><label>用户名</label>
                    <input type="text" name="username">
                    <br>
                    <strong>*</strong><label>旧密码</label>
                    <input type="password" name="oldPassword">
                    <br>
                    <strong>*</strong><label>新密码</label>
                    <input type="password" name="newPassword">
                    <br>
                    <div class="am-cf">
                        <a class="am-btn am-btn-primary am-btn-sm am-fl ajax-submit" href="javascript:;">保存</a>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <!-- content end -->
</div>
<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<script src="__STATIC__/js/ajax_form.js"></script>
</body>
</html>
