<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="/admin/Index/index"> 首页</a></li>
            <li><a href="/admin/Signup/index"> 报名项目管理</a></li>
            <li><a href="/admin/Signup/signupLog"> 报名信息查看</a></li>
            <li><a href="/admin/User/index"> 用户信息管理</a></li>
            <li><a href="/admin/classes/index"> 专业班级管理</a></li>
            <li><a href="/admin/Index/changePassword"> 修改密码</a></li>
        </ul>
    </div>
</div>