<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="/admin/Index/index"><span class="am-icon-home"></span> 首页</a></li>
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#basic-nav'}">
                    <span class="am-icon-puzzle-piece"></span> 基础信息管理 <span class="am-icon-angle-right am-fr am-margin-right"></span>
                </a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="basic-nav">
                    <li><a href="/admin/Major/index" class="am-cf"> 专业管理</a></li>
                    <li><a href="/admin/Classes/index"> 班级管理</a></li>
                    <li><a href="/admin/course_type/index"> 课程类别管理</a></li>
                </ul>
            </li>
            <li><a href="/admin/Course/index"><span class="am-icon-book"></span> 课程信息</a></li>
            <li><a href="/admin/student_course/index"><span class="am-icon-table"></span> 选课信息</a></li>
            <li><a href="/admin/User/index"><span class="am-icon-users"></span> 用户信息管理</a></li>
            <li><a href="/admin/Log/index"><span class="am-icon-tasks"></span> 操作日志</a></li>
            <li><a href="/admin/Index/changePassword"><span class="am-icon-cog"></span> 修改密码</a></li>
        </ul>
    </div>
</div>