{include file="public/head" /}
<style>input[name='keyword']{width: 210px}</style>
</head>
<body>
{include file="public/top" /}
<div class="am-cf admin-main">
    {include file="public/nav" /}

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">报名项目管理</strong> / <small>报名项目列表</small></div>

            </div>

            <div class="am-u-md-12">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <a href="/admin/Signup/add" class="am-btn am-btn-primary">添加</a>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6">
                        <form method="post" action="/admin/Signup/index">
                            <div class="am-form-group">
                                <input type="text" name="keyword" value="{:input('request.keyword')}" placeholder="按名称搜索">
                                <button type="submit" class="am-btn am-btn-secondary am-btn-xs">搜索</button>
                                <a href="/admin/Signup/index" class="am-btn am-btn-danger am-btn-xs">重置</a>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="am-table am-table-bd am-table-striped admin-content-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>项目名称</th>
                        <th>描述</th>
                        <th>报名人数上限</th>
                        <th>实际报名人数</th>
                        <th>报名开始时间</th>
                        <th>报名结束时间</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="rows" id="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.description}</td>
                        <td>{$vo.max_student_count}</td>
                        <td>{$vo.real_student_count}</td>
                        <td>{$vo.begin_time}</td>
                        <td>{$vo.end_time}</td>
                        <td>{$vo.create_time}</td>
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href="{:url('admin/Signup/edit',['id'=>$vo['id']])}" class="am-btn am-btn-success" style="color: #fff;">编辑</a>
                                    <button type="button" class="am-btn am-btn-danger" onclick="del(this,{$vo.id})">删除</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <span>共{$rows->total()}条记录</span>
                <div class="pagination" style="float: right">{$page}</div>
            </div>
        </div>
    </div>
</div>
<!-- content end -->
</div>
<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<script>
    function del(self,id) {
        layer.confirm('确认要删除吗?', function (index) {
            $.post("{:url('admin/Signup/delete')}", {id: id}, function (res) {
                if (res.code == 1) {
                    $(self).closest("tr").remove();//前端删除
                    layer.msg(res.msg, {time: 1500, icon: 6});
                } else {
                    layer.msg(res.msg, {time: 1500, icon: 5});
                }
            });
        });
    }

</script>
</body>
</html>
