{include file="public/head" /}
</head>
<body>
{include file="public/top" /}
<div class="am-cf admin-main">
    {include file="public/nav" /}

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf">
                    <strong class="am-text-primary am-text-lg">用户信息管理</strong> / <small>添加用户</small>
                    >><a href="/admin/User/index"><small>返回"学生用户列表"</small></a>
                </div>
            </div>

            <div class="am-u-md-6">
                <form method="post" class="am-form" action="/admin/User/addPost">
                    <label>用户名</label>
                    <input type="text" name="username">
                    <label>姓名</label>
                    <input type="text" name="name">
                    <p>初始密码:123456</p>
                    <div class="am-cf">
                        <a class="am-btn am-btn-primary am-btn-sm am-fl ajax-submit" href="javascript:;">添加</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- content end -->
</div>
<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<script src="__STATIC__/js/ajax_form.js"></script>
</body>
</html>
