{include file="public/head" /}
</head>
<body>
{include file="public/top" /}
<div class="am-cf admin-main">
    {include file="public/nav" /}
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf">
                    <strong class="am-text-primary am-text-lg">用户信息管理</strong> /
                    <small>编辑用户</small>
                    >><a href="/admin/User/index">
                    <small>返回"学生用户列表"</small>
                </a>
                </div>
            </div>
            <form method="post" class="am-form" action="/admin/User/editPost">
                <div class="am-u-md-6">
                    <label>学号</label>
                    <input type="text" name="username" value="{$username}">
                    <label>姓名</label>
                    <input type="text" name="name" value="{$name}">
                    <label>手机</label>
                    <input type="text" name="mobile" value="{$mobile}">
                    <label>邮箱</label>
                    <input type="text" name="mobile" value="{$email}">
                    <label>性别</label>
                    <div class="am-form-group">
                        {php}$sexArray = ['男','女','未设置'];{/php}
                        {foreach name="$sexArray" item="vo"}
                        {php}$checked = $key==$sex ? 'checked' : '';{/php}
                        <label class="am-radio-inline">
                            <input type="radio" value="{$key}" name="sex" {$checked}> {$vo}
                        </label>
                        {/foreach}
                    </div>
                </div>
                <div class="am-u-md-6">
                    <label>出生日期</label>
                    {php}$birthday = $birthday==0 ? '未设置' : date('Y-m-d',$birthday);{/php}
                    <input type="text" name="birthday" class="am-form-field" data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'years'}"
                           data-am-datepicker value="{$birthday}" readonly>
                    <label>身份证号</label>
                    <input type="text" name="id_card" value="{$id_card}">
                    <label>照片</label><br>
                    {eq name="$photo" value=""}
                      <img class="am-circle" src="/upload/photo/headicon.png" width="140" height="140"/>
                    {else/}
                      <img class="am-circle" src="{$photo}" width="140" height="140"/>
                    {/eq}
                </div>
                <div class="am-u-md-6" style="margin-top: 20px">
                    <input type="hidden" name="id" value="{$id}">
                    <a class="am-btn am-btn-primary am-btn-sm am-fl ajax-submit" href="javascript:;">提交</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<script src="__STATIC__/js/ajax_form.js"></script>
</body>
</html>
